.footer {
  margin-top: 80px;
  padding: 20px 0;
  text-align: center;
}

.nav {
  margin-bottom: 16px;
}

.items {
  margin-bottom: 8px;
  white-space: nowrap;
}

@media (min-width: 640px) {
  .items {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }
}
