.about {
  padding-top: 200px;
}

.inner {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.info {
  padding-bottom: 130px;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.subText {
  font-size: 1.2rem;
}

.contents {
  margin-top: 30px;
}

.content {
  display: flex;
  margin-bottom: 10px;
}

.content dt {
  width: 85px;
  flex-shrink: 0;
}

.content dd {
  margin-left: 0;
  flex: 1;
}

.comment {
  padding-bottom: 130px;
}

.subTitle {
  margin-bottom: 20px;
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.text {
  line-height: 2.5;
  text-align: justify;
}

.skill {
  padding-bottom: 130px;
}

.catch {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.logoList {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (min-width: 640px) {
  .inner {
    width: 60%;
  }
}
