.about {
  padding-top: 200px;
}

.infoInner,
.inner {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.info {
  padding-bottom: 130px;
}

.infoInner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.subText {
  font-size: 1.2rem;
}

.contents {
  margin-top: 30px;
}

.content {
  display: flex;
  margin-bottom: 10px;
}

.content dt {
  width: 85px;
  flex-shrink: 0;
}

.content dd {
  flex: 1;
}

.comment {
  padding-bottom: 130px;
}

.subInner {
  text-align: center;
}

.subTitle {
  display: inline-block;
  margin: 0 auto 40px;
  border-bottom: 2px solid var(--color-catch);
  font-size: 1.7rem;
  font-weight: 600;
}

.text {
  line-height: 2.5;
  text-align: justify;
}

.skill {
  padding-bottom: 130px;
}

.catch {
  margin-bottom: 30px;
  font-size: 1.3rem;
  font-weight: 500;
}

.items .text {
  margin-bottom: 50px;
}

.items .text:last-child {
  margin-bottom: 0;
}

.logoList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, max-content));
  gap: 30px;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  .inner {
    width: 55%;
  }
}
