.heading {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 90%;
  margin-left: auto;
  margin-bottom: 50px;
  padding-top: 180px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

.lines {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lines span {
  height: 4px;
  background-color: #5c9ded;
  width: 100%;
}

.lines span:first-child {
  width: 97%;
  margin-left: auto;
}

.inner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.subTitle {
  font-size: 1.7rem;
  font-weight: 600;
  text-align: center;
}

.catch {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.logoList {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media (min-width: 1000px) {
  .inner {
    width: 60%;
  }
}
