.worksContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px 50px;
  justify-content: center;
}

.list {
  width: 100%;
}

.image {
  min-width: 250px;
}

.title {
  font-size: 1.3rem;
  font-weight: 500;
}

@media (min-width: 1670px) {
  .worksContent {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
