.worksContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 80px 50px;
  justify-content: center;
}

.list {
  width: 100%;
}

.worksTitle {
  font-size: 2.5rem;
}

.image {
  min-width: 250px;
}

.title {
  font-size: 1.5rem;
}
