:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-mincho: "游明朝", "Yu Mincho", "Hiragino Mincho ProN", "MS PMincho",
    serif;
  --color-text-main: #333;
  --color-text-sub: #fff;
  --color-text-error: #f33;
  --color-bg-main: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-mincho);
  color: var(--color-text-main);
  background-color: var(--color-bg-main);
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

code {
  font-family: menlo, inconsolata, monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
