.top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 180px;
  background: url(../public/top_Bg.jpg) no-repeat center / cover;
  overflow: hidden;
}

.mainTitle {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

/* ラインが流れるアニメーション */
.shootingStar {
  position: absolute;
  width: 6px;
  height: 500px;
  background: linear-gradient(white, rgba(255, 255, 255, 0));
  opacity: 0;
  transform: rotate(48deg);
  animation: shooting 2.5s linear infinite;
}

@keyframes shooting {
  0% {
    transform: translate(0, 0) rotate(48deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-1500px, 1500px) rotate(48deg);
    opacity: 0;
  }
}

/* works */
.works {
  position: relative;
  padding-bottom: 250px;
}

.worksInner,
.contactInner {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* サークルアニメーション */
.circleWrapper {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  animation: rotateScale 8s ease-in-out infinite;
}

.circle1 {
  width: 350px;
  animation-delay: 0s;
  animation-duration: 8s;
}
.circle2 {
  width: 250px;
  animation-delay: 1.5s;
  animation-duration: 10s;
  animation-direction: reverse;
}
.circle3 {
  width: 150px;
  animation-delay: 3s;
  animation-duration: 12s;
}

@keyframes rotateScale {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* contact */
.contact {
  padding-bottom: 180px;
}

.text {
  margin-bottom: 30px;
  text-align: center;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 1.2rem;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  word-break: break-word;
}

.item a {
  text-decoration: underline;
}

.btn {
  display: block;
  width: fit-content;
  margin: 80px auto 0;
  padding: 10px 20px;
  border: 2px solid #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: var(--color-catch);
  transform: skew(-20deg);
  transition: all 0.3s ease;
}

.btn:hover {
  border: 2px solid var(--color-catch);
  color: var(--color-text-main);
  background-color: #fff;
}

.btn span {
  display: block;
  transform: skew(20deg);
}

@media (min-width: 640px) {
  .worksInner,
  .contactInner {
    width: 80%;
  }

  .circle1 {
    width: 650px;
  }
  .circle2 {
    width: 400px;
  }
  .circle3 {
    width: 200px;
  }

  .items {
    font-size: 1.5rem;
  }

  .item {
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }

  .item dt {
    min-width: 90px;
  }
}
