.top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 130px;
  background: url(../public/top_Bg.jpg) no-repeat center / cover;
}

.mainTitle {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

@keyframes shootingStar {
  0% {
    transform: translateY(-100px) translateX(0); /* 始まりの位置 */
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) translateX(100vw); /* 終わりの位置 */
    opacity: 0;
  }
}

.shootingStar {
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  animation: shootingStar 3s linear infinite;
}

.shootingStar:nth-child(odd) {
  animation-duration: 4s;
}

.shootingStar:nth-child(even) {
  animation-duration: 5s;
}

.works {
  padding-bottom: 130px;
}

.worksInner,
.contactInner {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  padding-bottom: 130px;
}

.text {
  margin-bottom: 20px;
  text-align: center;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.items dt {
  width: 90px;
  flex-shrink: 0;
}

.btn {
  display: block;
  width: fit-content;
  margin: 50px auto 0;
  padding: 10px 20px;
  border: 2px solid #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: var(--color-catch);
  transform: skew(-20deg);
  transition: all 0.3s ease;
}

.btn:hover {
  border: 2px solid var(--color-catch);
  color: var(--color-text-main);
  background-color: #fff;
}

.btn span {
  display: block;
  transform: skew(20deg);
}

@media (min-width: 640px) {
  .worksInner,
  .contactInner {
    width: 80%;
  }
}
