.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin-bottom: 130px;
  background: url(../public/top_Bg.jpg) no-repeat center / cover;
}

.mainTitle {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
}

.works {
  padding-bottom: 130px;
}

.worksInner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  padding-bottom: 130px;
}

.contactInner {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
