.title {
  margin-bottom: 80px;
  padding-left: 30px;
  border-left: 10px double var(--color-catch);
  font-size: 2.5rem;
  font-weight: 600;
}

.thumbnail {
  margin-bottom: 50px;
}

.metaInfo {
  width: 100%;
  margin: 0 auto 100px;
}

.content img {
  margin-bottom: 30px;
}

.info {
  display: flex;
  margin-bottom: 10px;
}

.info dt {
  width: 100px;
  flex-shrink: 0;
}

.info dd {
  margin-left: 0;
  flex: 1;
}

.info a,
.content a {
  color: #0066cc;
  text-decoration: underline;
}

.content p {
  margin-bottom: 50px;
  line-height: 2.5;
  text-align: justify;
}

.content h2 {
  margin: 100px 0 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-catch);
  font-size: 2rem;
  font-weight: 600;
}

.content h3 {
  margin-bottom: 15px;
  font-size: 1.6rem;
  font-weight: 600;
}

.btn {
  display: block;
  width: fit-content;
  margin: 100px auto 0;
  padding: 10px 20px;
  border: 2px solid #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #fff;
  background-color: var(--color-catch);
  transform: skew(-20deg);
  transition: all 0.3s ease;
}

.btn:hover {
  border: 2px solid var(--color-catch);
  color: var(--color-text-main);
  background-color: #fff;
}

.btn span {
  display: block;
  transform: skew(20deg);
}

@media (min-width: 640px) {
  .metaInfo {
    width: 80%;
  }

  .info dt {
    width: 120px;
  }
}
