.heading {
  display: flex;
  align-items: center;
  gap: 50px;
  width: 93%;
  margin-left: auto;
  margin-bottom: 50px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

.lines {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line {
  height: 4px;
  background-color: var(--color-catch);
  transform-origin: right;
  margin-left: auto;
}

@media (min-width: 640px) {
  .heading {
    width: 90%;
  }
}
