.title {
  display: flex;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  white-space: nowrap;
  overflow: hidden;
}

.title span {
  display: block;
  transform: translateY(105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.visible span {
  transform: translateY(0);
}

@media (min-width: 640px) {
  .title {
    font-size: 6rem;
    letter-spacing: 0.5rem;
  }
}
